{% load static  %}
<html>

    <head>
        <title> Hello World </title>
    </head>
          <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <body>
        <h1 class="text_red"> Hello World! </h1>
        <a href="{% url 'polls:index' %}">
            Get to the polls            
        </a>
    </body>
</html>
