{% load static %}
<html>
    <head>
        <title>Polls: Index Page</title>
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
        />
        <!--Import materialize.css-->
        <link
            type="text/css"
            rel="stylesheet"
            href="{% static 'css/materialize.css' %}"
            media="screen,projection"
        />
        <!-- Import laurenz.css -->
        <link
            type="text/css"
            rel="stylesheet"
            href="{% static 'css/laurenz.css' %}"
            media="screen,projection"
        />
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>

    <body>
        <nav>
            <div class="nav-wrapper teal">
                <div class="container">
                    <a href="#" class="brand-logo">Polls</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="sass.html">Sass</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <section>
            <div class="container pushdown-5p">
                <div class="row">
                    {% if latest_question_list %}
                    <!--  -->
                    {% for question in latest_question_list %}
                    <div class="col s3">
                        <!-- <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li> -->
                        <div class="card">
                            <div class="card-content">
                                <a
                                    class="card-title"
                                    href="{% url 'polls:detail' question.id %}"
                                >
                                    {{ question.question_text }}
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    {% endfor %}
                </div>

                {% else %}
                <p>
                    No polls are available.
                </p>
                {% endif %}
            </div>
        </section>
    </body>
</html>
